.label {
    position: relative;
    line-height: 99%;
    justify-content: center;
    width: 59px;
  }
  .count,
  .label,
  .label1 {
    display: flex;
    align-items: center;
  }
  .count {
    flex: 1;
    border-radius: var(--br-21xl);
    background-color: var(--color-orange);
    flex-direction: column;
    padding: var(--padding-4xl) var(--padding-9xs);
    justify-content: center;
  }
  .label1 {
    position: relative;
    line-height: 139%;
    text-transform: uppercase;
    font-weight: 300;
    width: 76px;
    flex-shrink: 0;
  }
  .background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-42xl);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
  }
  .switch {
    position: absolute;
    height: 88.41%;
    width: 40.94%;
    top: 5.8%;
    right: 56.38%;
    bottom: 5.8%;
    left: 2.68%;
    border-radius: 50%;
    background-color: var(--color-white);
  }
  .toggle {
    position: relative;
    width: 149px;
    height: 69px;
  }
  .framelines-toggle,
  .top-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-8xs);
    text-align: left;
    font-size: var(--font-size-2xl);
    color: var(--color-darkgray);
  }
  .top-row {
    align-self: stretch;
    align-items: flex-start;
    gap: var(--gap-3xs);
    text-align: center;
    font-size: var(--font-size-3xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  